.container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
}
button{
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #04AA6D;
    border: none;
    border-radius:2px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.blogTextHeader{
    color: rgb(2, 0, 24);
    font-weight: bold;
    margin: 20px 0 20px 0; 
}